.navbar{
    display: flex;
    padding: 10px;
    background-color:brown ;
    justify-content: space-around;
}
.link{
    list-style: none;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
}